.footer {
    background-color:rgb(239,239,239);
    font-size: 16px;
    height: 530px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 8px;
    border: solid #AD172B 5px;

}

.footinfo {
    font-size: 16px;
    color: #AD172B;;
}

.footinfo {
    display: flex;
    justify-content: space-around;
    line-height: 25px
}

.imgpad {
    padding-bottom: 50px;
    padding-top: 100px
}

.collection-item-label > a {
    color: #AD172B;;
    text-decoration: none
}

.collection-item-label:hover {
    text-decoration: underline
}

.cpright {
    color: #AD172B;;
    padding-top: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    padding-right: 225px;
    height: 10px;
}

.oppor {
    color: #AD172B;;
    display: flex;
    justify-content: flex-end;
}